@import '~node_modules/modern-normalize/modern-normalize.css';

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    background-color: rgba(12, 105, 211, 0.329);
    color: #212121;
    line-height: 1.5;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
   
}
button {

    border: 1px solid;
    border-radius: 4px;
    padding: 5px 20px;

    font-size: 16px;
}
a {
    text-decoration: none;
    /* margin: 0;
    padding: 0;
    color: inherit; */
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap:20px;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 20px;
 }
.gallery__link:hover,
.gallery__link:focus {
    scale: 1.05;
    box-shadow: 0px 0px 25px rgb(56, 56, 228);
}

 .search-form {
    position: fixed;
    top: 0;
    left: 0;
    
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60px;

    background-color: hsla(240, 88%, 16%, 0.562);
    box-shadow: 3px 3px 20px hsl(224, 94%, 12%);
 }
 .search-form__input {
    height: 30px;
 }
.photo-card {
    display: flex;
    flex-direction: column;
    
    max-width: 200px;
    height: auto;
  
}

.photo-card > .img {
    flex-grow: 1;

    object-fit: cover;
}
.info {
    display: flex;
    text-align: center;
    

    background-color: aliceblue;
}
.info-item {
    text-decoration: none;
    font-size: 10px;
    color: black;

}

.load-more {
    margin-left: auto;
    margin-right: auto;
}
